*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(14, 13, 13);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header{
    width: 100%;
    height: 70px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
}
.logo{
    margin-left: 30px;
    width: 25%;
    padding-top: 15px;
    text-align: center;
    font-size: 27px;
    color: rgb(66, 240, 141);
    transition: 1s;
    
}
.logo:hover{
    border-radius: 50%;
    box-shadow: 2px 5px 7px rgb(66, 240, 141);
   
}
.navbar{
    padding: 15px;
    margin-right: 10px;
    width: 40%;
    display: flex;
    justify-content: space-between;
}
.navbar a{
     
    color: white;
    text-decoration: none;
    width: 95px;
    padding: 5px 15px;
    border-radius: 3px;
    height: 29px;
    transition: 0.5s;
}
.navbar a:hover {
    color: black;
   background-color: rgb(66, 240, 141);
   
}
#s{
    padding-left: 25px;
}
#h{
    padding-left: 25px;
    background-color: rgb(66, 240, 141);
    color: black;
}
.content{
    margin-left:80px;
    margin-top: 70px;
}
.fullstack h1{
    margin-top: 130px;
    font-size: 65px;
    color:rgb(54, 218, 125);
}
.developer h2{
    font-size: 65px;
    color:rgb(54, 218, 125);
}
.para{
    margin-top: 60px;
}
.para p{
    color: white;
    margin-top: 25px;
    font-weight: 100;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.btn button{
    color: white;
    font-weight: 700;
    margin-top: 60px;
    height: 45px;
    width: 100px;
    font-size: 11px;
    border-radius: 7px;
    border: none;
    transition: 0.2s;
    background-color: rgb(54, 218, 125);
}
.btn button:hover{
     
    background-color: rgb(18, 97, 41);
}
.img img{
    position: absolute;
    right: 90px;
    top: 180px;
    width: 300px;
    height: 350px;
    background-color: yellow;
    border-radius: 50%;
    box-shadow: 30px -30px 121px rgb(20, 160, 74);
    border: 4px solid rgb(49, 199, 107);
    transition: 0.7s;
}
.img img:hover{
    transform: scale(1.1);
}